#webrtc-widget {
  --text-high-contrast: #fff;
  --text-medium-contrast: #d0d5dd;
  --text-low-contrast: #667085;
  --text-accent: #d4efdf;
  --text-inverted: #fff;
  --text-negative: #ff5655;
  --bg-background: #292d33;
  --bg-header: #292d33;
  --bg-navigation: #292d33;
  --bg-status: #333842;
  --bg-brand: #333842;
  --bg-border: #333842;
  --fg-high-contrast: #667085;
  --fg-accent: #22aa5c;
  --fg-negative: #ff5655;
  --fg-warning: #e7b006;
  --fg-brand: #34c1ca;
  --fg-inverted: #fff;
  --fg-logo: #fff;
  --a-high-contrast: #fff;
  --a-active: #22aa5c;
  --a-inactive: #667085;
  --text-inverted-disabled: #98a2b3;
  --bg-hover: #333842;
  --bg-pressed: #333842;
  --bg-border-active: #22aa5c;
  --fg-accent-hover: #289c5c;
  --fg-accent-pressed: #2c7351;
  --fg-accent-disabled: #333842;
  --fg-negative-hover: #e52625;
  --fg-negative-pressed: #b61f1e;
  --fg-negative-disabled: #333842;
  --fg-high-contrast-hover: #333842;
  --fg-high-contrast-pressed: #333842;
  --fg-high-contrast-disabled: #333842;
  --fg-inverted-disabled: #98a2b3;
  --a-hover: #98a2b3;
  --a-pressed: #fff;
  --a-disabled: #333842;
  --switch-background: #333842;
  --switch-background-checked: #22aa5c;
  --switch-foreground: #fff;
}
