.webrtc-widget-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: var(--spacing-8) var(--spacing-8) var(--spacing-24);

  &__inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-8);
    height: 96px;
    justify-content: center;

    &--with-select {
      height: auto;
    }
  }

  &__numpad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: var(--spacing-4);
    grid-column-gap: var(--spacing-4);
  }

  &__button-content {
    width: 24px;
    height: 24px;

    & > svg > path {
      fill: var(--text-inverted);
    }
  }
}
